<!DOCTYPE html>
<html>
  <head>
    <title>Server Side Rendering Test</title>
  </head>
  <body>
    <div id="app">
      Hello World!
    </div>
    <script type="text/javascript" src="js/bundle.js"></script>
  </body>
</html>