<!DOCTYPE html>
<html>
  <head>
    <title>Server Side Rendering Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <div id="app"><%- initialView %></div>
    <script type="text/javascript" src="dist/bundle.js"></script>
  </body>
</html>
